.container{
    max-width: 140rem;
    padding: 4.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    gap: 3.2rem;
}
header {
    margin-top: 35px; /* Adjust the value as needed */
    margin-bottom: 40px;
  }
  